@model mytimmings.Models.Activity.MyActivity

<div lass="w3-container conainer-padding">
    <div class="container-fluid">
        <div class="row" style= "margin-left: 0px">
            <div class="col-md-3">
                <div class="list-el-tile">
                    <div class="timesheet-title" style="margin-bottom: 20px;">
                        <h5>Projects</h5>
                    </div>
                    <div class="user-choice">
                        <label for="chageItems">Items</label>
                        <select onchange="changeNumber(value)" id="changeItems" name="chageItems">
                            <option value="5" selected> 5</option>
                            <option value="10"> 10</option>
                            <option value="50"> 50</option>
                            <option value="100"> 100</option>
                        </select>

                    </div>
                </div>


                @{
                    foreach (var project in Model.projects)
                    {

                        if (project.id == 0)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="checkbox" id="@project.id" name="@project.id" value="@project.id" checked onchange="filterLogsByProject(value)" class="projects-select-item" />
                                    <label for="@project.id">@project.name</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="checkbox" id="@project.id" name="@project.id" value="@project.id" onchange="filterLogsByProject(value)" class="projects-select-item" />
                                    <label for="@project.id">@project.name</label>
                                </div>
                            </div>
                        }

                    }
                }
            </div>

            <div class="col-md-9" id="worklogs-container">
                <div class="list-el-tile">
                    <div class="timesheet-title">
                        <h5>Time Sheet</h5>
                    </div>
                </div>
                @{ 
                    var workLogs = Model.workLogs.Take(Model.numberOfItems);
                }
                @foreach (var record in workLogs)
                {

                    string startTime = record.startDate.ToLocalTime().ToString("hh:mm tt");
                    string endTime = record.endDate.ToLocalTime().ToString("hh:mm tt");
                    string date = record.startDate.ToLocalTime().ToString("dd MMM yyyy");



                    <div class="row w3-white alert-item small-box-shadow-cord round-corners-left-15 round-corners-right-15 work-record-container">
                        <div class="col-md-12">
                            <div class="row work-record-top-section">
                                <div class="col-md-11">
                                    <p class="work-record-time" style="display: inline-flex">@startTime - @endTime</p>
                                    <p class="work-record-date" style="display: inline-flex">@date</p>
                                    <p class="work-record-title" style="display: inline-flex">@record.title</p>
                                    <p class="work-record-project" style="display: inline-flex">@record.projectName</p>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                            <div class="row work-record-middle-section">
                                @foreach (var tag in record.tags)
                                {
                                    <p>@tag</p>
                                }

                            </div>
                            <div class="row work-record-bottom-section">
                                <p>@record.description</p>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>

    </div>

</div>

<script>
    function filterLogsByProject(projectId) {
        console.log(projectId);
    }

    function changeNumber(number) {
        //console.log(number);
        var selectedProjects = getSelectedProjects()


        var currentModel = @Html.Raw(Json.Encode(Model));
        var queryItems = {
            selectedItems: selectedProjects,
            numberOfItems: number
        }
        //console.log(JSON.stringify(queryItems))

        var queryItems = JSON.stringify(queryItems)
        $.ajax({
            type: "post",
            url: '@Url.Action("TimeSheet", "Activity")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ queryItems: queryItems}),
            dataType: "json",
            success: function (data) {
               //console.log(data.data)
                if (data.status == "success") {
                    generateWorkLogsByNumber(data.data.workLogs, data.data.numberOfItems)
                } else if (data.status == "error") {
                    notif.error(data.message, "Error");
                }


            },
            error: function (data) {
             notif.error("Something happen! Please try again later!", "Error");
            }

        })



    }

    function getSelectedProjects() {
        var selecteditems = [];

        var itemsAvailable = document.getElementsByClassName("projects-select-item");
        for (var i = 0; i < itemsAvailable.length; i++) {
            if (itemsAvailable[i].checked) {
                selecteditems.push(itemsAvailable[i].value);
            }
        }

        return selecteditems;
    }


    function generateWorkLogsByNumber(workLogs, counter) {

        var container = document.getElementById("worklogs-container");
        removeExistingWorklogs(container)


        if (workLogs.length >  0) {
            if (workLogs.length >= counter) {
                //console.log("aaa")
                for (var i = 0; i < counter; i++) {
                    createWorklogElement(workLogs[i]);
                }
            } else if (workLogs.length < counter) {
               // console.log("bbb")
                for (var i = 0; i  < workLogs.length; i++) {
                    createWorklogElement(workLogs[i]);
                }
            }

        } else {
            //inform there are no worklogs
            let mainContainer = document.createElement("div");
            mainContainer.classList.add("row", "work-record-container");


            let colEl = document.createElement("div");
            colEl.classList.add("col-md-12");
            colEl.innerHTML = "<div style='text-align: center'>"
                + "<h2 style = 'padding: 35px; font-size: 20px'> No records!</h2>"
            mainContainer.appendChild(colEl);

            addElementToContainer(document.getElementById("worklogs-container"), mainContainer)
        }

    }

    //this function remove all the worklogs elements from the view
    function removeExistingWorklogs(container) {
        if (container != null || container!= "") {
            var elementsToRemove = container.getElementsByClassName("work-record-container");
            let elLength = elementsToRemove.length;
            for (var i = 0; i < elLength; i++) {
                //Remove the element at index 0
                elementsToRemove[0].remove();
            }
        }

    }


    //this is a template for create a worklog element on the view
    function createWorklogElement(worklog) {

        const options = {
            hour: 'numeric',
            minute: 'numeric',
            hour12: true
        };


        var startDateTime = ""
        var endDateTime = ""
        var recordDate = "";
        var title = "";
        var projectName = "";
        var description = "";

        if (worklog.startDate != null || worklog.startDate != "")
            //startDateTime = ConvertJsonDate(worklog.startDate).toLocaleTimeString("en-US", options);
            startDateTime = formatTimeInAMPM(ConvertJsonDate(worklog.startDate))
            recordDate = ConvertJsonDate(worklog.startDate).toIndianFormat();

        if (worklog.endDate != null || worklog.endDate != "")
            endDateTime = ConvertJsonDate(worklog.endDate).toLocaleTimeString("en-US", options);

        if (worklog.title != null)
            title = worklog.title;

        if (worklog.projectName != null)
            projectName = worklog.projectName

        if (worklog.description != null)
            description = worklog.description;


        let mainContainer = document.createElement("div");
        mainContainer.classList.add("row", "w3-white", "alert-item", "small-box-shadow-cord", "round-corners-left-15", "round-corners-right-15", "work-record-container");

        let colEl = document.createElement("div");
        colEl.classList.add("col-md-12");
        //top section of the worklog
        let topSectionEl = document.createElement("div");
        topSectionEl.classList.add("row", "work-record-top-section")
        topSectionEl.innerHTML = "<div class='col-md-11'>"
        + "<p class='work-record-time' style='display: inline-flex'>" + startDateTime + " - " + endDateTime + "</p>" 
        + "<p class='work-record-date' style='display: inline-flex'>" + recordDate + "</p>"
        + "<p class='work-record-title' style='display: inline-flex'>" + title + "</p>"
        + "<p class='work-record-project' style='display: inline-flex'>" + projectName + "</p></div>"

        + "<div class='col-md-1'><button class='btn btn-primary'>Edit</button></div>"

        //middle section of the worklog
        let middleSectionEl = document.createElement("div");
        middleSectionEl.classList.add("row", "work-record-middle-section")
        for (var i = 0; i < worklog.tags.length; i++) {
            middleSectionEl.innerHTML += "<p>" + worklog.tags[i] + "</p>"
        }
        //bottom section of the worklog
        let bottomSectionEl = document.createElement("div");
        bottomSectionEl.classList.add("row", "work-record-bottom-section")
        bottomSectionEl.innerHTML = "<p>"  + description + "</p>"



        //Append the section of the worklog
        colEl.appendChild(topSectionEl);
        colEl.appendChild(middleSectionEl);
        colEl.appendChild(bottomSectionEl);

        //append the worklog to the container of it.
        mainContainer.appendChild(colEl);

        addElementToContainer(document.getElementById("worklogs-container"), mainContainer)
    }

    //Append an Html element to the container
    function addElementToContainer(container, element) {


        if (container != null && element != null) {
            container.appendChild(element);
        } else {
            notif.error("Something happen! Please try again later!", "Error")
        }

    }





</script>