@model mytimmings.Models.Activity.MyActivity

<div lass="w3-container conainer-padding">
    <div class="container-fluid">
        <div class="row" style= "margin-left: 0px">
            <div class="col-md-3">
                <div class="list-el-tile">
                    <div class="timesheet-title" style="margin-bottom: 20px;">
                        <h5>Projects</h5>
                    </div>
                    <div class="user-choice">
                        <label for="chageItems">Items</label>
                        <select onchange="changeNumber(value)" id="changeItems" name="chageItems">
                            <option value="5" selected> 5</option>
                            <option value="10"> 10</option>
                            <option value="50"> 50</option>
                            <option value="100"> 100</option>
                        </select>

                    </div>
                </div>


                @{
                    foreach (var project in Model.projects)
                    {

                        if (project.id == 0)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="checkbox" id="@project.id" name="@project.id" value="@project.id" checked onchange="filterLogsByProject(value)" class="projects-select-item" />
                                    <label for="@project.id">@project.name</label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="checkbox" id="@project.id" name="@project.id" value="@project.id" onchange="filterLogsByProject(value)" class="projects-select-item" />
                                    <label for="@project.id">@project.name</label>
                                </div>
                            </div>
                        }

                    }
                }
            </div>

            <div class="col-md-9">
                <div class="list-el-tile">
                    <div class="timesheet-title">
                        <h5>Time Sheet</h5>
                    </div>
                </div>

                <script>
                    function clearWorkRecords() {
                        var list = document.getElementsByClassName("alert-item");
                        if (list.length > 0) {
                            for (var i = 0; i < list.length; i++) {
                                list[i].remove();
                            }
                        }
                        console.log(list);
                    }
                    clearWorkRecords();
                </script>
                @{ 
                    var workLogs = Model.workLogs.Take(Model.numberOfItems);
                }
                @foreach (var record in workLogs)
                {

                    string startTime = record.startDate.ToString("hh:mm tt");
                    string endTime = record.endDate.ToString("hh:mm tt");
                    string date = record.startDate.ToString("dd MMM yyyy");



                    <div class="row w3-white alert-item small-box-shadow-cord round-corners-left-15 round-corners-right-15 work-record-container">
                        <div class="col-md-12">
                            <div class="row work-record-top-section">
                                <div class="col-md-11">
                                    <p class="work-record-time" style="display: inline-flex">@startTime - @endTime</p>
                                    <p class="work-record-date" style="display: inline-flex">@date</p>
                                    <p class="work-record-title" style="display: inline-flex">@record.title</p>
                                    <p class="work-record-project" style="display: inline-flex">@record.projectName</p>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                            <div class="row work-record-middle-section">
                                @foreach (var tag in record.tags)
                                {
                                    <p>@tag</p>
                                }

                            </div>
                            <div class="row work-record-bottom-section">
                                <p>@record.description</p>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>

    </div>

</div>

<script>
    function filterLogsByProject(projectId) {
        console.log(projectId);
    }

    function changeNumber(number) {
        console.log(number);
        var selectedProjects = getSelectedProjects()


        var currentModel = @Html.Raw(Json.Encode(Model));
        var queryItems = {
            selectedItems: selectedProjects,
            numberOfItems: number
        }
        console.log(JSON.stringify(queryItems))

        var queryItems = JSON.stringify(queryItems)
        $.ajax({
            type: "post",
            url: '@Url.Action("MyTimeSheet", "Activity")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ queryItems: queryItems}),
            dataType: "json",
            success: function (data) {
               console.log(data.data)
                

            },
            error: function (data) {
              /*  notif.error("Something happen! Please try again later!", "Error");*/
            }

        })



    }

    function getSelectedProjects() {
        var selecteditems = [];

        var itemsAvailable = document.getElementsByClassName("projects-select-item");
        for (var i = 0; i < itemsAvailable.length; i++) {
            if (itemsAvailable[i].checked) {
                selecteditems.push(itemsAvailable[i].value);
            }
        }

        return selecteditems;
    }



</script>